@model PortalOgloszeniowy.Models.RegisterUser
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit - USER</h1>
<div>
    <span>
        <a asp-action="Index" asp-controller="User" asp-route-id="@Model.Id">Powrót</a>
    </span>
</div>
@inject Microsoft.AspNetCore.Identity.SignInManager<PortalOgloszeniowy.Models.User> signInManager
@if (signInManager.IsSignedIn(User) && User.Identity.Name == Model.UserName)
{
    <div asp-validation-summary="All"></div>
    <form method="post" asp-action="Edit">
        <label asp-for="UserName"></label>
        <input asp-for="UserName" />
        <span asp-validation-for="UserName"></span>
        <label asp-for="Password"></label>
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
        <label asp-for="Email"></label>
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
        <label asp-for="PhoneNumber"></label>
        <input asp-for="PhoneNumber" />
        <span asp-validation-for="PhoneNumber"></span>
        <label asp-for="PasswordRequired"></label>
        <input asp-for="PasswordRequired" />
        <span asp-validation-for="PasswordRequired"></span>
        <input type="submit" value="Edit" />
    </form>
}
else
{
    <div>You can't edit this account</div>
}
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}